header {
    border-bottom: solid 1px #0079ff;
    height: 97px;
    padding: 0 136px;
    width: 100%;

    .header_body {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;

        .title {
            width: max-content;
        }

        h1 {
            font-family: "RobotoSlab";
            font-size: 1.69rem;
            font-weight: 600;
            letter-spacing: 0.57px;
            text-transform: uppercase;
        }
    }

    .search {
        align-items: center;
        background-color: #fefefe;
        border-radius: 15px;
        display: flex;
        height: 69px;
        padding: 13px;
        position: relative;
        width: 739px;

        svg {
            height: 21px;
            fill: #0079ff;
            margin-right: 6px;
            width: 26px;
        }

        input {
            background-color: transparent;
            font-family: "Playfair";
            font-size: 1.35rem;
            font-weight: 300;
            height: 100%;
            outline: none;
            width: 100%;
        }

        button {
            background-color: #0057bb;
            border-radius: 10px;
            color: #fefefe;
            font-family: "Raleway";
            height: 46px;
            letter-spacing: 1px;
            text-align: center;
            width: 106px;

            &:hover {
                background-color: #0079ff;
            }
        }

        .errorMessage {
            border: solid 1px #0079ff;
            position: absolute;
            padding: 4px 39px;
            top: 135%;
        }
    }

    button {
        border-bottom: solid 1px #0079ff;
        font-family: "Raleway";
        font-weight: 456;
        letter-spacing: 1px;
        outline: none;
        width: 66px;
    }

    @media screen and (max-width: 915px) {
        .header_body {
            h1 {
                width: 156px;
                font-size: 1rem;
            }

            .search {
                position: absolute;
                width: 329px;
                height: 49px;
                top: 105px;

                input {
                    font-size: 1rem;
                }

                button {
                    font-size: 0.85rem;
                    width: 86px;
                    height: 33px;
                }
            }
        }
    }
}
